/* #4 #sweat #external css file */

/* GLOBAL */

/* #4 #global styles*/

* {
    /* #4 use #roboto #font */
    font-family: 'Roboto', 'Arial', sans-serif;

     /* #4 #sweat take care of #spacing between various elements */
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

/* #4 # sweat #uppercase buttons and w3w locations */
button, strong {
    text-transform: uppercase;
}



/* APP BAR */

/* #4 #sweat address both #app-bar s */
h1 {
    position: fixed;
    width: 100%;
    background-color: #3F51B5;
    color: white;
    line-height: 56px;
    height: 56px;
    padding: 1px 0px;
    vertical-align: middle;
}


/* CHANNELS LIST */

/* put the channels on the left side of the screen */
#channels {
    position: absolute;
    height: 100%;
    width: 40%;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

/* #4 #sweat #channels */
ul {
    /* #3 #channels #list modifies h2 to ul */
    background-color: white;
    /* #3 #channels #bullets removed */
    list-style-type: none;
    position: relative;
    top: 59px;
    overflow-y: auto;
    width: 100%;
    height: 85%;
    
}

li {
    /* #4 #channel #tile geometry */
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    /* #4 #channel tiles are separated by #lines */
    border-bottom: 1px solid #F5F5F5;
}

/* #4 active #channel is #highlighted */
li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

li img {
    /* #4 #middle vertical alignment of icons in the #channels list */
    vertical-align: middle;
    
}

.channel-meta {
    position: absolute;
    right: 0px;
    align-items: center;
}

/* TAB BAR */
/* #4 #sweat #tab-bar */
#tab-bar {
    /* #3 #tab-bar #container should be white */
    background-color: white;
    /* #3 #tab-bar #container has all buttons centered */
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 40%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}


/* #4 add styles to #tab-bar #buttons */
#tab-bar button {
    background-color: white;
    border: none;
    font-size: 13px;

    /* #4 #tab-bar buttons have a width of #one-third of the available space */
    width: 33%;
    height: 72px;
    padding: 16px;
}

/* #4 #tab-bar buttons do have a #line-break and images are centered due to the left&right auto margin */
#tab-bar button img {
    display: block;
    margin: 0 auto 4px auto;
}

/* #4 the selected #tab-bar #button is #highlighted */
#tab-bar button#new-button {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}


/* MESSAGES */
/* #4 select #specific #messages by class and re-assign element styles according to their #hierarchy in a nested way */

/* put the messages on the right side of the screen */
#chat {
    /*background-color: red;*/
    position: absolute;
    height: 100%;
    width: 60%;
    right: 0px;
    top: 0px;
    /*display: flex;*/
}

#chat h1 img {
    position: fixed;
    right: 16px;
    top: 16px;
    
}

.message {
    /* #3 #chat #width*/
    width: 80%;

    /* #4 align all #messages using #margins */
    margin-left: 2.5%;

    /* #4 #message distance to next message container*/
    margin-bottom: 8px;
    position: relative;
    top: 59px;

}


.message h3 {
    font-size: medium;
    display: flex;
    justify-content: space-between;
}

.message h3 em {
    font-size: larger;
    font-style: normal;
}

.message h3 a {
    /* #3 #chat #link color is primary text */
    color: black;
}

.message p {
    background-color: white;
    padding: 16px;
    position: relative;
}

.message p button {
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    bottom: 8px;
    right: 8px;
}

/* #4 left align own #messages using #margins */
.message.own {
    margin-left: 17.5%;
}

#chat-bar{
    background-color: white;
    text-align: left;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 72px;
    width: 60%;
}

#emojis-button{
    border: 0px solid white;
    background: white;
    line-height: 72px;
    position: relative;
    right: -15px;
}

#emojis-box {
    visibility: hidden;
    font-size: 28px;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
    position: fixed;
    text-align: left;
    left: 41%;
    bottom: 60px;
    width: 300px;
    height: 300px;
}